* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainBlue: #036;
$mainWhite: #fff;
$mainGrey: #ecececf8;

body {
  background: $mainBlue;
  color: $mainBlack;
  font-family: "Open Sans", sans-serif;
}
